head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/stylesheets/style.css')

body
    header.header
        img.headerLogo(src='/logo/logo.png')
        h1.headerText Ecole de Ath
        form.headerDeco(action='login' method='GET')
            input(class='in2'  type='submit' value='Se déconnecter')

    br
    br
    title #eleve
    form#formEleve(method='POST' action='api/v1/eleve')
        p Elève
            hr(color='black')
        label Nom :
        input(type='text' name='formEleveNom' value=donneeEleve[2][0]['nomEleve'])
        br
        label Prénom :
        input(type='text' name='formElevePrenom' value=donneeEleve[2][0]['prenomEleve'])
        br
        label Date de naissance :
        input(type='date' name='formEleveDOB' value=donneeEleve[2][0]['naissance'])
        br
        label Nationalité :
        input(type='text' name='formEleveNationalite' value=donneeEleve[2][0]['nationalite'])
        br
        label Classe :
        input(type='hidden' name='formEleveIdClasse' value=donneeEleve[2][0]['idClasse'])
        input(type='text' name='formEleveClasse' value=donneeEleve[2][0]['annee'])
        br
        input(type='hidden' name='formEleveId' value=donneeEleve[2][0]['idEleve'])
        input(type='hidden' name='formEleveP1' value=donneeEleve[1][0]['idParent'])
        input(type='hidden' name='formEleveP2' value=donneeEleve[0][0]['idParent'])
        button(class ="in2" type='submit') Enregistrer
    #parent1
        form#formParent1(method='POST' action='api/v1/parent')
            p Parent 1
            hr(color='black')
            label Nom :
            input(type='text' name='formParentNom' value=donneeEleve[1][0]['nomParent'])
            br
            label Prénom :
            input(type='text' name='formParentPrenom' value=donneeEleve[1][0]['prenomParent'])
            br
            label Adresse :
            input(type='text' name='formParentAdresse' value=donneeEleve[1][0]['adresse'])
            br
            label Téléphonne :
            input(type='text' name='formParentTelephone' value=donneeEleve[1][0]['telephonne'])
            br
            label GSM :
            input(type='text' name='formParentGSM' value=donneeEleve[1][0]['GSM'])
            br
            label Email :
            input(type='text' name='formParentEmail' value=donneeEleve[1][0]['email'])
            br
            input(type='hidden' name='formParentId' value=donneeEleve[1][0]['idParent'])
            button(class="in2" type='submit') Enregistrer
    #parent2
        form#formParent2(method='POST' action='api/v1/parent')
            p Parent 2
            hr(color='black')
            label Nom :
            input(type='text' name='formParentNom' value=donneeEleve[0][0]['nomParent'])
            br
            label Prénom :
            input(type='text' name='formParentPrenom' value=donneeEleve[0][0]['prenomParent'])
            br
            label Adresse :
            input(type='text' name='formParentAdresse' value=donneeEleve[0][0]['adresse'])
            br
            label Téléphonne :
            input(type='text' name='formParentTelephone' value=donneeEleve[0][0]['telephonne'])
            br
            label GSM :
            input(type='text' name='formParentGSM' value=donneeEleve[0][0]['GSM'])
            br
            label Email :
            input(type='text' name='formParentEmail' value=donneeEleve[0][0]['email'])
            br
            input(type='hidden' name='formParentId' value=donneeEleve[0][0]['idParent'])
            button(class="in2" type='submit') Enregistrer
    form(action='secretariat' method='GET')
        input(class="in2" type='submit' value='Retour')
