doctype html
head
    meta(charset='UTF-8')
    style.
        form{
            line-height: 1.5em;
        }
        div{
            border: solid black 2px;
            padding: 2px;
            margin: 2px;
        }
        #parent1{
            float: left;
            width: 48.5%;
            overflow: hidden;
        }
        #parent2{
            float: right;
            width: 48.5%;
            overflow: hidden;
        }
        p{
            text-align: center;
        }
        button{
            display: block;
            margin: auto;
        }
        input {
            width: fit-content;
            margin: 2px 2px 2px 5px;
            padding-left: 4px;
        }
script.
    function retour() {
        window.location.replace('http://localhost:3000/secretariat');
    }
body
    title #eleve
    form#formEleve(method='POST' action='api/v1/eleve')
        label Nom :
        input(type='text' name='formEleveNom' value=donneeEleve[2][0]['nomEleve'])
        br
        label Prénom :
        input(type='text' name='formElevePrenom' value=donneeEleve[2][0]['prenomEleve'])
        br
        label Date de naissance :
        input(type='text' name='formEleveDOB' value=donneeEleve[2][0]['naissance'])
        br
        label Nationalité :
        input(type='text' name='formEleveNationalite' value=donneeEleve[2][0]['nationalite'])
        br
        label Classe :
        input(type='hidden' name='formEleveIdClasse' value=donneeEleve[2][0]['idClasse'])
        input(type='text' name='formEleveClasse' value=donneeEleve[2][0]['annee'])
        br
        input(type='hidden' name='formEleveId' value=donneeEleve[2][0]['idEleve'])
        input(type='hidden' name='formEleveP1' value=donneeEleve[1][0]['idParent'])
        input(type='hidden' name='formEleveP2' value=donneeEleve[0][0]['idParent'])
        button(type='submit') Enregistrer
    #parent1
        form#formParent1(method='POST' action='api/v1/parent')
            p Parent 1
            hr(color='black')
            label Nom :
            input(type='text' name='formParentNom' value=donneeEleve[1][0]['nomParent'])
            br
            label Prénom :
            input(type='text' name='formParentPrenom' value=donneeEleve[1][0]['prenomParent'])
            br
            label Adresse :
            input(type='text' name='formParentAdresse' value=donneeEleve[1][0]['adresse'])
            br
            label Téléphonne :
            input(type='text' name='formParentTelephone' value=donneeEleve[1][0]['telephonne'])
            br
            label GSM :
            input(type='text' name='formParentGSM' value=donneeEleve[1][0]['GSM'])
            br
            label Email :
            input(type='text' name='formParentEmail' value=donneeEleve[1][0]['email'])
            br
            input(type='hidden' name='formParentId' value=donneeEleve[1][0]['idParent'])
            button(type='submit') Enregistrer
    #parent2
        form#formParent2(method='POST' action='api/v1/parent')
            p Parent 2
            hr(color='black')
            label Nom :
            input(type='text' name='formParentNom' value=donneeEleve[0][0]['nomParent'])
            br
            label Prénom :
            input(type='text' name='formParentPrenom' value=donneeEleve[0][0]['prenomParent'])
            br
            label Adresse :
            input(type='text' name='formParentAdresse' value=donneeEleve[0][0]['adresse'])
            br
            label Téléphonne :
            input(type='text' name='formParentTelephone' value=donneeEleve[0][0]['telephonne'])
            br
            label GSM :
            input(type='text' name='formParentGSM' value=donneeEleve[0][0]['GSM'])
            br
            label Email :
            input(type='text' name='formParentEmail' value=donneeEleve[0][0]['email'])
            br
            input(type='hidden' name='formParentId' value=donneeEleve[0][0]['idParent'])
            button(type='submit') Enregistrer
    button(onclick='retour()') Retour