head
    meta(charset='UTF-8')
    title Garderie
    style.
        body {
            margin-left: 10px;
        }
        form input {
            margin: 5px;
        }
        table, th, td {
            border:solid black 2px;
            padding: 2px;
            border-collapse: collapse;
        }
        th {
            background-color: #00B7FF;
        }
    link(rel='stylesheet', href='/stylesheets/style.css')
body
    header.header
        img.headerLogo(src='/logo/logo.png')
        h1.headerText Ecole de Ath
        form.headerDeco(action='login' method='GET')
            input(class="in2" type='submit' value='Se déconnecter')


    h1 Ajout d'une entrée ou sortie de la garderie
    br
    form(method='POST' action='api/v1/garderie' autocomplete='on')
        label(for='idEleve') Nom:
        select(id='idEleve' name='idEleve')
            for eleves in listeNoms
                option(value=eleves.id) #{eleves.nom} #{eleves.prenom}
        label(for'dateoutin') Date:
        input( type='date' max=dateActuelle id='dateoutin' placeholder='Date' name='dateoutin' value=dateActuelle)
        label(for='heure') Heure:
        input( type='time' id='heure' placeholder='Hour' name='heure' value=heureActuelle)
        select(id='outin' name='outin')
            option(value='In') Arrivée
            option(value='Out') Départ
        input( type='submit' value='Enregistrer')
    br
    table#tableGarderie
        tr
            th Nom
            th Prénom
            th Annee
            th Lundi
            th Mardi
            th Mercredi
            th Jeudi
            th Vendredi
        tbody
            each line in garderieTableau
                tr
                    td= line.nomEleve
                    td= line.prenomEleve
                    td= line.annee
                    td= line.jour.LundiM + "-" + line.jour.LundiS
                    td= line.jour.MardiM + " - " + line.jour.MardiS
                    td= line.jour.MercrediM + " - " + line.jour.MercrediS
                    td= line.jour.JeudiM + " - " + line.jour.JeudiS
                    td= line.jour.VendrediM + " - " + line.jour.VendrediS
