doctype html
head
    meta(charset='UTF-8')
    title Garderie
    style.
        table, th, td {
            border:solid black 2px;
            padding: 2px;
            border-collapse: collapse;
        }
        th {
            background-color: #00B7FF;
        }
    link(rel='stylesheet', href='/stylesheets/style.css')
body
    .header
        img(src='/logo/logo.png')
        a(href='localhost:3000/login')  Déconnexion
        .inner_header
            .logo_container
                h1 Ecole de Ath

    h1 Ajout d'une entrée ou sortie de la garderie
    form(method='POST' action='api/v1/garderie')
        input(type='text' id='idGarderie' placeholder='Garderie ID' name='idGarderie')
        input(type='text' id='idEleve' placeholder='Student ID' name='idEleve')
        input(type='text' id='dateoutin' placeholder='Date' name='dateoutin')
        input(type='text' id='heure' placeholder='Hour' name='heure')
        input(type='text' id='outin' placeholder='In/Out' name='outin')
        input(type='submit')

    table#tableGarderie
        tr
            th idGarderie
            th Nom
            th Prénom
            th Annee
            th Date
            th Heure
            th In/Out
        tbody
            each line in garderieTableau
                tr
                    td= line.idGarderie
                    td= line.nomEleve
                    td= line.prenomEleve
                    td= line.annee
                    td= line.dateG
                    td= line.heure
                    td= line.outIn

