head
    meta(charset='UTF-8')
    title Secretariat
    link(rel='stylesheet', href='/stylesheets/style.css')

body
    header.header
        img.headerLogo(src='/logo/logo.png')
        h1.headerText Ecole de Ath
        form.headerDeco(action='login' method='GET')
            input(class="in2" type='submit' value='Se déconnecter')
    section.section
        table#tableEleve
            tr
                th Nom
                th Prénom
                th Date de naissance
                th Classe
                th Détails
            tbody
                each eleve in eleveListe
                    tr
                        td= eleve.nom
                        td= eleve.prenom
                        td= eleve.naissance
                        td= eleve.classe
                        td
                            form(id= "form" action="eleve" method='GET')
                                input(class="in" type='hidden' name='id' value=eleve.id)
                                input(class="in" type='hidden' name='p1' value=eleve.p1)
                                input(class="in" type='hidden' name='p2' value=eleve.p2)
                                input(class="in" type='submit' value='Détails')
        br
        form#nouvelEleve(action="eleve" method='GET')
            input(class="in2" type='submit' value='Nouvel élève')