head
    meta(charset='UTF-8')
    title Secretariat
    style.
        table, th, td {
            border:solid black 2px;
            padding: 2px;
            border-collapse: collapse;
        }
        th {
            background-color: #00B7FF;
        }
        tr:hover {
            background: azure;
        }
    link(rel='stylesheet', href='/stylesheets/style.css')

body
    header.header
        img.headerLogo(src='/logo/logo.png')
        h1.headerText Ecole de Ath
        form.headerDeco(action='login' method='GET')
            input(type='submit' value='Se déconnecter')
    section.section
        table#tableEleve
            tr
                th Nom
                th Prénom
                th Date de naissance
                th Classe
                th Détails
            tbody
                each eleve in eleveListe
                    tr
                        td= eleve.nom
                        td= eleve.prenom
                        td= eleve.naissance
                        td= eleve.classe
                        td
                            form(action="eleve" method='GET')
                                input(type='hidden' name='id' value=eleve.id)
                                input(type='hidden' name='p1' value=eleve.p1)
                                input(type='hidden' name='p2' value=eleve.p2)
                                input(type='submit' value='Détails')
        br
        form#nouvelEleve(action="eleve" method='GET')
            input(type='submit' value='Nouvel élève')